<h2 style="text-align: center; margin-bottom: 50px;">main works!</h2>

<!-- <div [@openClose]="isOpen ? 'open' : 'closed'"
    style="background-color: red; height: 100px; width: 100px; margin-left: 30px;">
</div> -->

<button (click)="toggle()"
    style="margin-left: 30px; margin-top: 40px; font-size: 25px;" 
    class="btn btn-primary">Animate
</button>

<div style="margin-top: 30px; margin-left: 30px;">
    <img style="height: 100px;" src="static/ang/assets/img/testpic.jpeg" alt="image">

    <h1 style="font-family: 'Wintersoul';">LAZARUS</h1>

    <h1 style="font-family: 'Heatting';">LAZARUS</h1>

</div>

<div style="border-top: 1px solid black; margin-bottom: 10px;" class="col-lg-12 col-md-12 col-sm-12"></div>

<h1>First: {{ user }}</h1>

<input type="text" [(ngModel)]="editUser">
<button (click)="editTheUser()">Change</button>

